* {
    margin: 0;
    padding: 0;
}
body {
    background: #f8f8f8;
    line-height: 1.6;
    font-family: "Poppins",Helvetica,sans-serif;
    color: #555;
}
svg {
    margin-right: 7px;
}
.btn {
    border: none;
    outline: none;
    background: #004dda;
}
.btn:hover {
    background: #ffd000;
}
a.btn {
    color: #fff;
}
a.btn:hover {
    color: #000;
}
#header .co {
    background: #fff;
}
#header .navbar {
    background: #fff;
    border: none;
    margin: 0;
}
#header .navbar-header {
    height: 50px;
}
#header .navbar-header img {
    padding-top: 15px;
    float: left;
}  
#header .navbar-toggle {
    float: left;
    border: none;
    color: #000;
    margin: 10px 20px 10px 0;
    background-color: transparent;
}
#header .navbar-toggle span {
    height: 4.5px;
    width: 30px;
}
#header .navbar-toggle:hover {
    background: #f7f5f5;
}
#menu {
    padding-top: 10px;
}
#menu .nav a {
    color: #000;
    font-size: 16px;
}
#menu .nav a:hover {
    color: #0000ff;
}
#menu .dropdown {
    position: relative;
}
#menu .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 8px;
}
#menu .dropdown:hover .dropdown-menu {
    display: block;
}
#menu .btn {
    margin-right: 12px; 
    margin-left: 10px;
}
#menu a.btn {
    color: #fff;
}
#menu a.btn:hover {
    color: #000;
}
#content .result {
    margin: 50px 0 40px 0;
    background: #004dda;
    color: #fff;
    padding: 10px 0;
}
#content .result h1 {
    font-size: 28px;
}
#content .nid {
    margin-bottom: 50px;
}
#content .nid h3 {
    background: #333;
    color: #fff;
    padding: 10px 12px 10px 20px;
    position: relative;
    margin-bottom: 15px;
    font-size: 19px;
}
#content .uiba ul {
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #e1e1e1;
}
#content .uiba a {
    color: #333;
    text-decoration: none;
    outline: none;
    margin-right: 2px;
    border: none;
    background: transparent;
}
#content .uiba a.active {
    border-bottom: 2px solid #004dda;
    color: #004dda;
}
#content .details input.form-control, select.form-control {
    height: 43px;
    color: #333;
}
#content hr {
    margin: 10px 0;
    border-color: #ededed;
}
#content .payment {
    padding: 25px 25px 25px 25px;
    box-shadow: 0px 0px 15px 0px #0000000a;
    border: 1px solid #ededed;
    background: #fffaf0; 
    height: 550px;
}
#content .payment li {
    margin-bottom: 15px;
    border-bottom: 2px solid #9c9c9c31;
}
#content .payment svg {
    float: right;
    color: #444;
}
#content .payment svg:hover {
    color: #004dda;
}
#content .payment img {
    margin: 40px 0 20px 0;
} 
#content .payment p {
    line-height: 1.75;
    font-size: 14px;
}
#content .osom {
    font-weight: 550;
    line-height: 1.9;
    background: #fff;
    border: 1px solid #ededed;
    padding: 25px 25px 25px 25px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px 0px #0000000d;
    height: 550px;
}
#content .osom li {
    border-bottom: 1px solid #ededed;
    margin-bottom: 8px;
    padding-bottom: 6px;
}
#content .osom li.tc {
    color: red;
    border: none;
    margin-bottom: 30px;
}
#content .osom span {
    float: right;
}
#content .osom label {
    margin-top: 15px;
    font-weight: 400;
}
#content .osom a {
    color: #004dda;
    text-decoration: none;
    outline: none;
}
#content .osom a:hover {
    color: #111;
}
#content .osom a.btn {
    color: #fff;
    font-weight: 600;
    padding: 15px 30px;
    width: 100%;
}
#content .osom a.btn:hover {
    color: #000;
}
#footer {
    background: white;
    border-top: 1px solid #e1e1e1;
}
#footer svg.fa-home, .fa-headphones-alt, .fa-info {
    color: #004dda;
}
#footer .quiks {
    padding-top: 11px;
    margin-top: 55px;
}
#footer .quiks li {
    line-height: 2;
}
#footer .quiks li:hover {
    transition: all 0.5s ease-in-out;
    transform: translateX(5px);
}
#footer .quiks a {
    text-decoration: none;
    color: #464646;
    line-height: 2;
}
#footer .quiks a:hover {
    color: #0000ff;
}
#footer .kts form {
    position: relative;
}
#footer .form-group input {
    padding: 20px;
    background: #0000000f;
    border: none;
    outline: none;
    margin-bottom: 30px;
}
#footer .form-group a.btn {
    padding: 10px, 20px;
    color: #fff;
    top: 0;
    right: 0;
    position: absolute;
}
#footer .form-group a.btn:hover {
    color: #000;
}
#footer .lang {
    margin: 0 auto;
    padding-bottom: 30px;
}
#footer .lang hr {
    border-color: #ddd;
    margin-top: 16px;
}
#footer select {
    padding: 7px;
    border: none;
    color: green;
    background: #f8f5f5;
    float: left;
    margin-right: 10px;
}
#footer .vis img {
    padding: 7px;
    position: relative;
}
#footer .tac {
    float: right;
}
#footer .tac a {
    text-decoration: none;
    color: #888787;
}
#footer .tac a:hover {
    color: #000;
}
#footer .tac small {
    color: #888787;
    padding: 0 9px;
}
#totop {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 9999;
    width: 46px;
    height: 46px;
    background-color: #00000099;
    opacity: 1;
    border-radius: 50%;
    text-align: center;
    font-size: 21px;
    color: #fff;
    cursor: pointer;
}
#totop:hover {
    background: #004dda;
}
#totop::after {
    content: "\e899";
    font-family: "fontello";
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-55%);
}